@model Letting_Portal.Models.Rental
@using Letting_Portal.Controllers;
@{
    ViewBag.Title = "Details";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <h3>@Html.DisplayFor(model => model.Title) <span style = "float:right; margin-right:2em;">@Html.ActionLink("Enquire about this property", "Enquire", new { id = Model.RentalID }) </span>
    </h3>
    <hr />
    <div class="row">
    <div class="col-md-4">
        <img src="https://www.thefulhamstudy.co.uk/wp-content/uploads/2018/10/Awaiting-Image.jpg" alt="Awaiting Image" style="width:100%;height:100%;" />
    </div>

    <div class="col-md-4">
        <h4 class="card-header">@Html.DisplayNameFor(model => model.Address)</h4>
        <address>
            @Html.DisplayFor(model => model.Address)
            <br />
            @Html.DisplayFor(model => model.Town)
            <br />
            @Html.DisplayFor(model => model.Region)
            <br />
            @Html.DisplayFor(model => model.Postcode)
        </address>
        <br />
        <br />
        <h4> Contact Landlord:</h4>
        <p>
            Tel: @Html.DisplayFor(model => model.PhoneNumber)
            <br />
            @Html.DisplayNameFor(model => model.Email): @Html.DisplayFor(model => model.Email)
        </p>
    </div>

    <div class="col-md-4">

        <h4>Price: @Html.DisplayFor(model => model.PricePerMonth) PCM</h4>
        <br />
        <br />
        <i class="fa fa-bed fa-4x"> @Html.DisplayFor(model => model.Bedroom)</i> 
        <br />
        <br />
        <i class="fa fa-bath fa-4x"> @Html.DisplayFor(model => model.Bathroom)</i> 

    </div>

</div>

    <hr />   
    <div class="col-md-8">
        <h4>About the Property</h4>
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="col-md-4">
        <h4 style="float: right;">Features</h4>
        <br /><br />
        <dl class="dl-horizontal" style="float: right;">
            <dt>
                @Html.DisplayNameFor(model => model.Shower)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Shower)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecureEntry)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecureEntry)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pets)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pets)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Smoking)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Smoking)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EnSuite)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EnSuite)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dishwasher)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dishwasher)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Alarm)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Alarm)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Furnished)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Furnished)
            </dd>
            </dl>
</div>
    </div>  
<hr/>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
