@model IEnumerable<Letting_Portal.Models.Rental>
@using Letting_Portal.Controllers;
@{
    ViewBag.Title = "Index";
}



<a name="top"></a>

@{
    ViewBag.Title = "Index";
}

<h2>Find Flats and Houses to Rent</h2>

@using (Html.BeginForm("Index", "Rentals", FormMethod.Get))

{
    <hr />
    <h3> Search by: </h3>
    <div class="row">

        <div class="col-md-12">

            <div class="form-group, col-md-4">
                <label class="control-label" for="inputDefault">Region:</label>
                @Html.DropDownList("region", (SelectList)ViewBag.region, "All", new { @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <label class="control-label" for="inputDefault">Town: </label>
                @Html.TextBox("searchTown", "", new { @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <label class="control-label" for="inputDefault">Minimum Bedrooms:</label>
                @Html.DropDownList("searchBed", (SelectList)ViewBag.bed, "All", new { @class = "form-control" })
            </div>

            <div class="form-group, col-md-4">
                <br />
                <label class="control-label" for="inputDefault">Sort By:</label>
                @Html.DropDownList("sort", (SelectList)ViewBag.sort, "All", new { @class = "form-control" })
            </div>

            <div class="col-md-12" style="color: red; margin-top: 1em;">
                @ViewBag.Invalid
            </div>

            <div class="form-group, col-md-4">
                <br />

                <button class="btn btn-primary" type="submit">Search</button>
                <button class="btn btn-default" onclick="location.href='@Url.Action("Index")';return false;">Clear</button>
            </div>
        </div>
    </div>


    <hr />
        @ViewBag.Result
        <hr />

}


@foreach (var item in Model)
{
    <div class="col-md-6">

        <h3>@Html.ActionLink(RentalsController.TitleCase(item.Title), "Details", new { id = item.RentalID })</h3>


        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Region)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Region)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Postcode)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Postcode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PricePerMonth)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.PricePerMonth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bathroom)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Bathroom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bedroom)
            </dt>

            <dd>
                @Html.DisplayFor(model => item.Bedroom)
            </dd>
        </dl>
    </div>
                        }

<div style="clear: both;">
    <a href="#top">Back to top</a>
</div>





